$font-family: 'Open Sans', sans-serif;
$font-size: 15px;
$font-color: rgba(0, 0, 0, 0.6);
$line-height: 1.6em;

$black-color: black;

// menu
$border-color: rgba(0, 0, 0, 0.15);
$border-radius: 999em;
$menu-padding: 0.5em 1.25em;
$hover-bg-color: #3CBD10;
$hover-color: #fff;

// pagination
$pg-hover-color: #3CBD10;

$btn-color: rgba(0, 0, 0, 0.44);

$footer-color: #A6A6A6;

// article
$article-header-color: #5f5f5f;
$article-footer-color: #bbbbbb;

// archive
$archive-post-color: #8F8F8F;
$archive-post-hover: #3CBD10;
$archive-date-color: #C5C5C5;

// markdown
// $link-hover-color: #00bcd4;
$link-color: #3CBD10;

